.botonesNavegarMovil{
  width: 50%;
}
.iconosMovil{
  width: 140%;
}
#recuadroBlanco{
  height: 50px;
}

#logoMovil{
  width: 50%;
}

.titulo-modal{
  color: #E79C23
}

#logoMCH{
  width: 90%;
}

#visor{
  text-align: center;
}


@media (max-width: 700px) {
#gafas{
  clear:both;
  position: absolute;
  margin-top: 12.5%;
  left: 40.5%;
  width: 13%;
  object-fit: cover;
  cursor:pointer;
}

#tablet{
  clear:both;
  position: absolute;
  margin-top: 16%;
  left: 60%;
  width: 12%;
  object-fit: cover;
  cursor:pointer;
}

#lapicero{
  clear:both;
  position: absolute;
  margin-top: 26%;
  left: 43%;
  width: 3%;
  object-fit: cover;
  cursor:pointer;
}

#laptop{
  clear:both;
  position: absolute;
  margin-top: 31.3%;
  left: 25.2%;
  width: 21%;
  object-fit: cover;
  cursor:pointer;
}

#celular{
  clear:both;
  position: absolute;
  margin-top: 39%;
  left: 51%;
  width: 4%;
  object-fit: cover;
  cursor:pointer;
}

#bolso{
  clear:both;
  position: absolute;
  margin-top: 48%;
  left: 47%;
  width: 32%;
  object-fit: cover;
  cursor:pointer;
}

#principal{
position: absolute;
width: 100%;
top: 0px;
left: 0px;
}
}

@media (min-width: 701px) {
  #principal{
  position: absolute;
  left: 203px;
  /* height: 100%; */
    top: -9px;
  }
  #gafas{
    clear:both;
    position: absolute;
    top: 61px;
    left: 412px;
    width: 138px;
    object-fit: cover;
    cursor:pointer;
    z-index:80000;
  }

  #tablet{
    clear:both;
    position: absolute;
    top: 98px;
    left: 621px;
    width: 113px;
    object-fit: cover;
    cursor:pointer;
  }

  #lapicero{
    clear:both;
    position: absolute;
    top: 193px;
    left: 433px;
    width: 40px;
    object-fit: cover;
    cursor:pointer;
  }
  #laptop{
    clear:both;
    position: absolute;
    top: 254px;
    left: 257px;
    width: 217px;
    object-fit: cover;
    cursor:pointer;
  }

  #celular{
    clear:both;
    position: absolute;
    top: 324px;
    left: 513px;
    width: 58px;
    object-fit: cover;
    cursor:pointer;
  }

  #bolso{
    clear:both;
    position: absolute;
    top: 427px;
    left: 499px;
    width: 291px;
    object-fit: cover;
    cursor:pointer;
  }
}
.cliqueables {
  opacity: 0;
  cursor: pointer;
}
.cliqueables:hover {opacity: 1.0;}

.cliqueables:focus {opacity: 1.0;}
/* .cliqueables:hover {filter: opacity(.5);}} */
.cliqueables2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
