body {
    background-color: #000;
}

.contenedor {
    text-align: center;
}


.visor {
    box-sizing: border-box;
    background-color: #fff;
    min-height: 700px;
    margin-bottom: 4px;
    padding: 1%;
    margin-top: 0%;
}

.modal {
    display: block;
}
