body {
    background-color: #000;
}

.contenedor {
    text-align: center;
}


.visor {
    box-sizing: border-box;
    background-color: #fff;
    min-height: 600px;    
    margin-bottom: 4px;
    padding: 1%;
    margin-top: 0%;
}

.btn-navigation {
    margin-right: 4px;
}



.img-oculta {
    visibility: hidden;
}

.img-visible {
    visibility: visible;
}

.modal {
        position: absolute;
        top: 10%;
        left: 10%;
        height: 60%;
        width: 80%;
        background-color: gray;
        color: #48D1CC;
}


.modal-shadow {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.char-boton {
    border: solid #fff 1px;
    padding: 7px;
    background-color: chocolate;
    border-radius: 60%;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    margin-right: 4px;
}

.row-encabezado {
    text-align: right;
}