body {
    background-color: #ffff;
}

#botones-planeamiento{
  margin-top: 4%;
}

#img-portada{
  max-width: 70%;
}

.pie-pagina{
  color:#00809B;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 5em;
}

.visor {
    box-sizing: border-box;
    background-color: #fff;
    min-height: 790px;
    margin-bottom: 4px;
    padding: 1%;
    margin-top: 0%;
   /* background-image: url("https://recursos.mep.go.cr/ws_faro/generales/fondo.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
}
a {
  text-decoration: none;
}

.modal {
    display: block;
}

.texto-indicaciones {
  /*background-color: #2098D1; */
  position: absolute;
  top: 14%;
  left: 6%;
  width: 90%;
}

.img-ico-audio {
  position: absolute;
  top: 4.5%;
  left: 70%;
  width: 5%;
  height: auto;
  cursor: pointer
}

.img-ico-audio:hover {
  border: solid 1px orange;
  border-radius: 100%;
}

.custom-nav {
  background-color:#FCC82B;
  color:#fff;
  padding: 2px;
  border-bottom: solid olive 1px;
  margin-left: -1%;
  margin-right: -1%;
}



.link-custom {  
  color:#fff; 
  font-weight: bold;
  padding: 8px; 
}

a:hover  {
  color:#E55403;
  }


 /* ***********CSS de cursos virtuales******************* */
.amarillo {
  float:left;
  padding-top:10%; 
  margin-right: -9%;
  margin-left: 5%;
  width: 70%; 
  height: 60%; 
  background: #f4ae11;
}

.negrito {
  float:left;
  padding-top:10%; 
  right: -5%;
  width: 30%; 
  height: 60%; 
  background: #3a3a3a;
}

.row { 
  margin-top: 2%;

}

.btn_rec {
background-color: #0d7aa0;
border-color: #0d7aa0;
}

.inform {
  border-color: darkcyan;
  border-left-style: dashed;  
  margin-bottom: 21px;
 margin-top: 21px;
 line-height:16px;
  }

  /* ****************************** */
  .inform1 {
    line-height:16px;
     }
 
     .azul {
       float:left;
       padding-top:1%; 
       margin-right: -9%;
       margin-left: 5%;
       width: 70%; 
       height: 100%; 
       background: #00809B;
     }
 
     .negrito1 {
       float:left;
       padding-top:1%; 
       right: -5%;
       width: 50%; 
       height: 100%; 
       background: #3a3a3a;
     }
   /* ****************************** */
   .img_circ {
    border-radius: 40%
   }


   .img_dec_sitio {
    height: 119%;
    width: 89%;
   }


   .text-catalogo {
    font-family: 'Bitter', serif;
    font-size: 85%;
    }

    .tit-catalogo {
      color: #E55403;
      font-weight: bold;
      margin-top: 15%;
    }

    #inicio {
      position: fixed;
      margin-top: 10%;
      width: 100%;
      background-color:#FCC82B;
      z-index: 1000;
    }

    .tit_rec_dig{
      background-color:#FCC82B;
      position: fixed;
      z-index: 1000;
      margin-top: -1%;
      width: 100%;
    }

.botones-portada {
    cursor: pointer;
}

#educativos{
padding-top:5%;
}

#web{
  padding-top:2%;
  }

  #apps{
    padding-top:2%;
    }

    #estrategias{
      padding-top:2%;
      }

.row-text {
    font-size: 1.5vw;
    /*background-image: url("https://recursos.mep.go.cr/ws_faro/generales/caja_descripcion.png");*/
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40%;
    margin-left: 5%;
}


.row-btnsalir {
    margin-top: 10%;
    /*background-color: aqua;*/
}

.img-flotante {
    position: absolute;
    margin-top: 28%;
    margin-left: 102%;
}

.row-celdas {
    margin-top: 36%;
}

.botones-grandes{
   text-align: center;
}

.bannerModal{
  width: 100%;
}

#rubricas {
  margin-top: -37%;
  margin-left: 7%;
}

#proceso {
  margin-left: -13%;
  margin-top: -23%;
}

#logro{
  margin-top: -52%;
  margin-left: -26%;
}

.col-sin-padding {
    padding: 0;
}

#arriba{
  z-index: 1;
}

.desc{
  font-weight: 550;
  font-size: 1.7vw;
  color:#0b8a99;
  margin-left: -3%;
}
/* Master 2 */
.texto_descripciones{
  margin-top: -56%;
  font-weight: 550;
  font-size: 1.2vw;
  line-height: 19px;
  width: 80%;
  height: auto;
  margin-left: 8%;
}

.texto_descripciones2{
  margin-top: -62%;
  font-weight: 550;
  font-size: 1.2vw;
  line-height : 19px;
  width: 60%;
  margin-left: 10%;
}

.texto_descripciones2{
  margin-top: -62%;
  font-weight: 550;
  font-size: 1.2vw;
  line-height : 19px;
  width: 60%;
  margin-left: 10%;
}
.titulos{
    margin-top: -5%;
    margin-left: -5%;
  }

  .descripciones{
    margin-top: 28%;
    
  }

  .descripciones3{
    margin-top: 15%;
    
  }

  .centro{
    text-align: center;
    z-index: 3;
  }

  .ladoIzq, .ladoDer{
    z-index: 2;
  }

  #politica{
    margin-top: 23%;
    z-index: 12;
    margin-left: 73%;
  }

  #estudiante{
    margin-top: -28%;
    z-index: 3;
    margin-left: -40%;
}


  #perfil{
    margin-top: -29%;
    z-index: 3;
    margin-left: -40%;
  }

  #programas{
    margin-top: 18%;
    margin-left: -41%;
  }

  #transformacion{
    margin-top: -39%;
  }

  #faro{
    margin-top: -9%;
    z-index: 3;
    margin-left: 18%;
  }

  #fundamentos{
    margin-top: -2%;
    z-index: 3; 
    margin-left: 16%;
  }

  #reglamento{
    margin-left: -11%;
    margin-top: -15%;
  }

  #prescolar{
    margin-top: 25%;
   float: right;
  }

  #primaria{
    margin-top: 35%;
  }

  #secundaria{
    margin-top: 45%;
  }

  .descripciones2{
    margin-top: 9%;
    margin-left: 15%;
  }
  
  #material_adicional{
    margin-top: 6%;
    margin-left: 0%;
  }
  .pie{
  text-align: right;
  }

  .fondo{
    z-index: 0;
  }
  .modal-alto {
    height: 600px;
  }

  .botones-inferiores{
    padding-top: 7%;
  }

  #textoDescripcion{
    
   
    position: absolute;
    
  }

#textoDescripcion2{
    
    margin-left: 17%;
    position: absolute;
    margin-top: -51%;
    width: 23vw;
}

#textoDescripcion3{
    font-size: 1.3vw;
    margin-left: 17%;
    position: absolute;
    margin-top: -50%;
    width: 24vw;
}

#botones-aula{
  margin-top: 15%;
}


#botones-desarrollo{
  margin-top: 25%;
}

#cursos{
  margin-left: 59%
}

#fondo-desarrollo{
  position: absolute;
  margin-top: -9%;
  margin-left: -30%;
  max-width: 108%;
}

#sitios{
  float: right;
  margin-right: 59%
}

.col-derecha{
  z-index: 100;
}

.derecha{
  float: right;
}
  #salir{
  margin-top: 10%;
  }
  /* Opacity #1 */
  .hover11 figure img {
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .hover11 figure:hover img {
      opacity: .5;
  }


  .hover12 figure:hover img {
              transform:scale(1.2);
              -ms-transform:scale(1.2); /* IE 9 */
              -moz-transform:scale(1.2); /* Firefox */
              -webkit-transform:scale(1.2); /* Safari and Chrome */
              -o-transform:scale(1.2); /* Opera */
          }


/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.barra-botones{
  margin-top: 2%;
  float: right;
 }

 #caja, #audio{
   float: right;
   margin-right: 14px;
 }

 #home{
  margin-left: 0px;
 }

 .derecha{
  float: right;
 }

 .botones_salir{
   position: absolute;
   top: 10px;
   z-index: 50000;
 }

.evaluacion{
  width: 67%;
}

 /*documentos oficales - Programas de estudio*/

 .div-oculta {
   display: none;
 }

 .spn-materias {
   font-size: 1.2em;
   padding: 1.5%;
   margin: 1%;
   cursor: pointer
 }

 .spn-materias:hover {
  background-color: crimson;
 }

 .tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:12px;padding:3px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
.tg .tg-gvcd{background-color:#ffffff;color:#000000;border-color:#000000;text-align:left;vertical-align:top}
