@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: #ffff;
}

#botones-planeamiento{
  margin-top: 14%;
}

#img-portada{
  max-width: 70%;
  margin-top: -3%;
}

.btn_volv{
  margin-top: 5%;
  margin-left: 200%;
  }

  .txt-con-salto{
    white-space: normal;
  }

  .txt-ajustable{
    white-space: normal;
    font-size: 1rem;
  }

#img-construc{
max-width: 73%;
margin-top: -2%;
margin-left: 16%
}

#titulo_recursosWeb{
background-color: #FCC82B;
}


.btn-documen{
  font-family: 'Montserrat', sans-serif;
  color:#BDBDBD;
  font-weight: bold;
  background-color:#E23365;
  }


  .btn-funcion{
    font-family: 'Montserrat', sans-serif;
    color:#BDBDBD;
    font-weight: bold;
    background-color:#1B75BD;
  }

  .btn-funcion2{
    font-family: 'Montserrat', sans-serif;
    color:#BDBDBD;
    font-weight: bold;
    background-color:#72CBFC;
  }

  .btn-component{
    font-family: 'Montserrat', sans-serif;
    color:#BDBDBD;
    font-weight: bold;
    background-color:#DB6505;
  }

  .btn-component2{
    font-family: 'Montserrat', sans-serif;
    color:#BDBDBD;
    font-weight: bold;
    background-color:#FF9220;
  }


  .dado-dec{
    margin-top: -136%;
    margin-left: 910%;
  }
 
.font-2 {
  font-size: 1.2em;
}

.pie-pagina{
  color:#00809B;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: -3%;
}

.pie-pagina2{
  color:#00809B;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 9%;
}

.creditos {
  line-height : 19px;
}

.btn_Buscar{
  margin-top: -40%;
  margin-right: -4%;
}

.btn_BuscarR2{
  margin-top: -14%;
  margin-right: -5%;
}

.visor {
    box-sizing: border-box;
    background-color: #fff;
    min-height: 790px;
    margin-bottom: 4px;
    padding: 1%;
    margin-top: -2%;
   /* background-image: url("https://recursos.mep.go.cr/ws_faro/generales/fondo.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
}
a {
  text-decoration: none;
}

.modal {
    display: block;
}

.card-custom {
  width: 75% !important;
  float: right !important;
}

.texto-indicaciones {
  /*background-color: #2098D1; */
  position: absolute;
  top: 14%;
  left: 6%;
  width: 90%;
  text-align: left;
}

#acercade {
  position: absolute;
  margin-top: 26%;
  margin-left: 3%;
  
}

.img_apoy{
  width: 75%;
  height: 75%;
  margin-right: 17%;
}


.etiquetas-1 {  
  font-size: 1.5em;
  margin: 0.5em;
  padding: 0.5em;
}



.img-ico-audio {
  position: absolute;
  top: 4.5%;
  left: 70%;
  width: 5%;
  height: auto;
  cursor: pointer
}

.img-ico-audio:hover {
  border: solid 1px orange;
  border-radius: 100%;
}

.custom-nav {
  /*background-color:#FCC82B;*/
  color:#fff;
  padding: 2px;
  /*border-bottom: solid olive 1px;*/
  margin-left: -1%;
  margin-right: -1%;
}



.link-custom {  
  color:#fff; 
  font-weight: bold;
  padding: 8px; 
}

a:hover  {
  color:#E55403;
  }



  /*Modal*/
  .element-top {
    z-index: 90000;
  }


  .lnk-recursos {
    color: green;
    font-size: 1.4em;    
  }

  .lnk-recursos:hover {    
    text-decoration: none;
    color: #F39014;
    font-weight: bold;    
  }

.div-container-animated:hover {
  animation-name: pulse;
}


  .ico-cerrar {
    cursor: pointer;
    font-size: 3em;
    margin-right: 20%;
    margin-top: 10%;   
  }

  .ico-cerrar:hover{
    color: #E55403;
  }
/* ******************************** */
.color-morado{
  background-color: #8077B5 !important;
} 

.color-amarillo{
  background-color:  #f4ae11 !important;
 
} 

.img-fondo{
  width: 105% !important;
}

.btnPreescolar{
background-color: #4d4799;  
}


 /* ***********CSS de cursos virtuales******************* */
.amarillo {
  float:left;
  padding-top:10%; 
  margin-right: -9%;
  margin-left: 5%;
  width: 70%; 
  height: 60%; 
  background: #f4ae11;
}

.negrito {
  float:left;
  padding-top:10%; 
  right: -5%;
  width: 30%; 
  height: 60%; 
  background: #3a3a3a;
}

.row { 
  margin-top: 2%;

}

.btn_rec {
background-color: #0d7aa0;
border-color: #0d7aa0;
}

.inform {
  border-color: darkcyan;
  border-left-style: dashed;  
  margin-bottom: 21px;
 margin-top: 21px;
 line-height:16px;
  }

  /* ****************************** */
  .inform1 {
    line-height:16px;
     }
 
     .azul {
       float:left;
       padding-top:1%; 
       margin-right: -9%;
       margin-left: 5%;
       width: 70%; 
       height: 100%; 
       background: #00809B;
     }
 
     .negrito1 {
       float:left;
       padding-top:1%; 
       right: -5%;
       width: 50%; 
       height: 100%; 
       background: #3a3a3a;
     }
   /* ****************************** */
   .img_dec_sitio {
    height: 119%;
    width: 89%;
   }


   .text-catalogo {
    font-family: 'Bitter', serif;
    font-size: 85%;
    }

    .tit-catalogo {
      color: #E55403;
      font-weight: bold;
      margin-top: 6%;
    }

    #inicio {
      position: fixed;
      margin-top: 5%;
      width: 100%;
      /*background-color:#FCC82B;*/
      z-index: 1000;
    }

    .tit_rec_dig{
      background-color:#FCC82B;
      position: fixed;
      z-index: 1000;
      margin-top: -1%;
      width: 100%;
    }

.botones-portada {
    cursor: pointer;
}

#educativos{
padding-top:5%;
}

#web{
  padding-top:2%;
  }

  #apps{
    padding-top:2%;
    }

    #estrategias{
      padding-top:2%;
      }

.row-text {
    font-size: 1.5vw;
    /*background-image: url("https://recursos.mep.go.cr/ws_faro/generales/caja_descripcion.png");*/
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40%;
    margin-left: 5%;
}


.row-btnsalir {
    margin-top: 10%;
    /*background-color: aqua;*/
}

.img-flotante {
    position: absolute;
    margin-top: 28%;
    margin-left: 102%;
}

.row-celdas {
    margin-top: 36%;
}

.botones-grandes{
   text-align: center;
}

.bannerModal{
  width: 100%;
}

#rubricas {
  margin-top: -37%;
  margin-left: 7%;
}

#proceso {
  margin-left: -13%;
  margin-top: -23%;
}

#logro{
  margin-top: -52%;
  margin-left: -26%;
}

.col-sin-padding {
    padding: 0;
}

#arriba{
  z-index: 1;
}

.desc{
  font-weight: 550;
  font-size: 1.7vw;
  color:#0b8a99;
  margin-left: -3%;
}
/* Master 2 */
.texto_descripciones{
  margin-top: -56%;
  font-weight: 550;
  font-size: 1.2vw;
  line-height: 26px;
  width: 80%;
  height: auto;
  margin-left: 8%;
}

.texto_descripciones2{
  margin-top: -62%;
  font-weight: 550;
  font-size: 1.2vw;
  line-height : 19px;
  width: 60%;
  margin-left: 10%;
}

.texto_descripciones2{
  margin-top: -62%;
  font-weight: 550;
  font-size: 1.2vw;
  line-height : 19px;
  width: 60%;
  margin-left: 10%;
}
.titulos{
    margin-top: -5%;
    margin-left: -5%;
  }

  .descripciones{
    margin-top: 3%;
    cursor: pointer;
  }

  .descripciones4{
    margin-top: 3%;
    cursor: pointer;
    
  }

  .descripciones3{
    margin-top: 3%;
    cursor: pointer;
  }

  .centro{
    text-align: center;
    z-index: 3;
  }

  .ladoIzq, .ladoDer{
    z-index: 2;
  }

  .ladoIzq {
    text-align: left;
  }

  .ladoDer {
    text-align: right;
  }

  .politica{
    margin-top: 23%;
    z-index: 12;
    margin-left: 73%;
  }

  .politica2{
    position: absolute;
     margin-top: 30%; 
    z-index: 12;
    margin-left: -43%;
  }

  .estudiante{
    margin-top: -28%;
    z-index: 3;
    margin-left: -40%;
}

.estudiante2{
  position: absolute;
  margin-top: 181%;
  z-index: 3;
  margin-left: -28%;
}


  .perfil{
    margin-top: -29%;
    z-index: 3;
    margin-left: -40%;
  }

  

  .programas{
    margin-top: 18%;
    margin-left: -41%;
  }

  .programas2{
    position: absolute;
    margin-top: 18%;
    margin-left: -32%;
  }

  .transformacion{
    margin-top: -39%;
  }

  .transformacion2{
    position: absolute;
    margin-top: 55%;
    margin-left: -55%;
    /* height: 200%; */
    width: 170%;
  }

  .faro{
    margin-top: -9%;
    z-index: 3;
    margin-left: 18%;
  }

  .faro2{
    position: absolute;
    margin-top: 226%;
    z-index: 3;
    margin-left: -35%;
  }

  .fundamentos{
    margin-top: -2%;
    z-index: 3; 
    margin-left: 16%;
  }

  .fundamentos2{
    position: absolute;
    margin-top: -20%;
    z-index: 3; 
    margin-left: -39%;
  }

  .reglamento{
    margin-left: -11%;
    margin-top: -15%;
  }

  .reglamento2{
    position: absolute;
    margin-left: 14%;
    margin-top: 93%;
  }

  #btn-volver-doc{
    position: absolute;
    margin-top: 75%;
    margin-left: -15%;
  }

  .preescolar{
    margin-top: 30%;
    max-width: 90%;
    margin-left: 60%;
  }

  .primaria{
    margin-top: 30%;
    max-width: 90%;
    margin-left: 29%;
    
  }

  .secundaria{
    margin-top: 30%;
    max-width: 90%;
  }

    .intercultural{
    margin-top: 30%;
    max-width: 90%;
    margin-left: -20%;
  }

  .jovenesAdultos{
   margin-top: -7%;
   max-width: 90%;
   margin-left: 60%;
  }

  .feriaCientifica{
    margin-top: -7%;
    max-width: 90%;
    margin-left: 29%;
  }

  .banderaAzul{
    margin-top: -7%;
    max-width: 90%;
  }

  .educatico{
    margin-top: -7%;
    max-width: 90%;
    margin-left: -20%;
  }

  .img_btn_der{
    margin-top: 2%;
    margin-left: 8%;
  }

  .descripciones2{
    margin-top: 9%;
    margin-left: 15%;
  }
  
  #material_adicional{
    margin-top: 6%;
    margin-left: 0%;
  }
  .pie{
  text-align: right;
  }

  .fondo{
    z-index: 0;
  }
  .modal-alto {
    height: 600px; 
  }

  .botones-inferiores{
    padding-top: 7%;
  }

  #textoDescripcion{   
   position: absolute;
   cursor: pointer;    
  }

#textoDescripcion2{
    
    margin-left: 17%;
    position: absolute;
    margin-top: -51%;
    width: 23vw;
    cursor: pointer;
}

.bannerRecursos{
  width: 100%;
}

#bnt-recursos{
  margin-top: 5%;
}

.boton-volver{
  position: absolute;
  top: 30%;
  right: 5%;
}



#div-evaluacion{
  padding-left: 7%;
}

.etiquetas-busquedas{
  background-color: #6c757d;
  color: white;
  font-weight: bold;
}

.buscadores-materias{
  background-color: #b3ae9b;
  color: white;
  font-weight: bold;
}

#textoDescripcion3{
    font-size: 1.3vw;
    margin-left: 17%;
    position: absolute;
    margin-top: -50%;
    width: 24vw;
}

#botones-aula{
  margin-top: 15%;
}


#botones-desarrollo{
  margin-top: 38%;
}

.btn-idp{
  margin-top: 2%;
}

.divRojo{
  background-color: #e23a59;
}

.divAzul{
  background-color:#075a84;
}


.divTurqueza{
  background-color:#45aeae;
}


.cursos-e{
  margin-left: 59%
}

#fondo-desarrollo{
  position: absolute;
  margin-top: 25%;
  margin-left: -30%;
  max-width: 108%;
}
#desarrolloIDP{
  margin-top: -5%;
}

#sitios{
  float: right;
  margin-right: 59%
}

.col-derecha{
  z-index: 100;
}

#imgTitulo{
  margin-left: -15px;
}

.derecha{
  float: right;
}

#correlacionado{
  margin-left: 35px;
}

#planDidactico{
  margin-left: 35px;
}
  #salir{
  margin-top: 10%;
  }
  /* Opacity #1 */
  .hover11 figure img {
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .hover11 figure:hover img {
      opacity: .5;
  }


  .hover12 figure:hover img {
              transform:scale(1.2);
              -ms-transform:scale(1.2); /* IE 9 */
              -moz-transform:scale(1.2); /* Firefox */
              -webkit-transform:scale(1.2); /* Safari and Chrome */
              -o-transform:scale(1.2); /* Opera */
          }


/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.img-ref{
  width: 100%;
}


.barra-botones{
  margin-top: 2%;
  float: right;
  margin-right: 5%;
 }

 #caja, #audio{
   float: right;
   margin-right: 14px;
 }

 #home{
  margin-left: 0px;
 }

 #uso{
  margin-left: 15px;
 }
 #uso2{
  margin-left: 5px;
  width: 50%;
 }


 .derecha{
  float: right;
 }

 .botones_salir{
   position: absolute;
   top: 10px;
   z-index: 50000;
   margin-left: -10%;
 }

 .enlace-pree{
  text-decoration:none;
  color:  #BE5FAC;
  }

  
 /*documentos oficales - Programas de estudio*/

 .div-oculta {
   display: none;
 }

 .spn-materias {
   font-size: 1.2em;
   padding: 2%;
   margin: 1.2%;
   cursor: pointer;   
 }

 .spn-materias:hover {
  background: #585858;  
  animation-name: rubberBand;
 }


 .lnk-yellow {
   color: #f4ae11;
   font-size: 1.2em;
   margin: 1.5%;
   margin-left: 6%;
   padding: 0.5%;   
 }

 .lnk-yellow:hover {
   text-decoration: none;
   background-color: #f4ae11;
   color: #fff;
   font-weight: bold;
 }

 .ico-wine {
   color: crimson;
 }

.tit_ref{
  color: #5ba4a1;
  letter-spacing: 5.2pt;
  line-height: 1.2;
}

.tit_ref2{
  line-height: 1.2;
}

.btn-outline-primary{
color: #fff;
background-color: #BE5FAC;
border-color: #BE5FAC;
}

.badge-primary{
  color: #fff;
  background-color: #BE5FAC;
  border-color: #BE5FAC;
  }

  

.btn-outline-info{
  color: #fff;
  background-color: #F39014;
  border-color: #F39014;
}

.badge-info{
  color: #fff;
  background-color: #F39014;
  border-color: #F39014;
}

.btn-outline-success{
  color: #fff;
  background-color: #4D4791;
  border-color: #4D4791;
}

.badge-success{
  color: #fff;
  background-color: #4D4791;
  border-color: #4D4791;
}



.btn-outline-danger{
  color: #fff;
  background-color: #BE5FAC;
  border-color: #BE5FAC;
}

.badge-danger {
  color: #fff;
  background-color: #BE5FAC;
  border-color: #BE5FAC;
}


.btn-outline-warning
{
  color: #fff;
  background-color: #F39014;
  border-color: #F39014;
}

.badge-warning {
  color: #fff;
  background-color: #F39014;
  border-color: #F39014;
}

.btn-outline-dark{
  color: #fff;
  background-color: #4D4791;
  border-color: #4D4791;
}

.badge-dark {
  color: #fff;
  background-color: #4D4791;
  border-color: #4D4791;
}

.badge{
  color:#fff;
}










 .referencias {
  padding-top: 5%;
  background: rgba(242,246,248,1);
  background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 9%, rgba(181,198,208,1) 21%, rgba(216,225,231,1) 31%, rgba(224,239,249,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(9%, rgba(216,225,231,1)), color-stop(21%, rgba(181,198,208,1)), color-stop(31%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
  background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 9%, rgba(181,198,208,1) 21%, rgba(216,225,231,1) 31%, rgba(224,239,249,1) 100%);
  background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 9%, rgba(181,198,208,1) 21%, rgba(216,225,231,1) 31%, rgba(224,239,249,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 9%, rgba(181,198,208,1) 21%, rgba(216,225,231,1) 31%, rgba(224,239,249,1) 100%);
  background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 9%, rgba(181,198,208,1) 21%, rgba(216,225,231,1) 31%, rgba(224,239,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 ); }
  




 .tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:12px;padding:3px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
.tg .tg-gvcd{background-color:#ffffff;color:#000000;border-color:#000000;text-align:left;vertical-align:top}
