body {
    background-color: #000;
}

#botones-planeamiento{
  margin-top: 4%;
}

.visor {
    box-sizing: border-box;
    background-color: #fff;
    min-height: 790px;
    margin-bottom: 4px;
    padding: 1%;
    margin-top: 0%;
    background-image: url("https://recursos.mep.go.cr/ws_faro/generales/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.modal {
    display: block;
}

.botones-portada {
    cursor: pointer;
}


.row-text {
    font-size: 1.5vw;
    background-image: url("https://recursos.mep.go.cr/ws_faro/generales/caja_descripcion.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40%;
    margin-left: 5%;
}


.row-btnsalir {
    margin-top: 10%;
    /*background-color: aqua;*/
}

.img-flotante {
    position: absolute;
    margin-top: 28%;
    margin-left: 102%;
}

.row-celdas {
    margin-top: 36%;
}

.botones-grandes{
   text-align: center;
}

#imgRubricas {
  margin-top: -37%;
  margin-left: 7%;
}

#imgProceso {
  margin-left: -13%;
  margin-top: -23%;
}

#imgLogro{
  margin-top: -42%;
  margin-left: -26%;
}

.col-sin-padding {
    padding: 0;
}

#arriba{
  z-index: 1;
}

/* Master 2 */

.titulos{
    margin-top: -5%;
    margin-left: -5%;
  }

  .descripciones{
    margin-top: 28%;
    margin-left: 15%;
  }

  .descripciones3{
    margin-top: 15%;
    margin-left: 15%;
  }

  .centro{
    text-align: center;
    z-index: 3;
  }

  .ladoIzq, .ladoDer{
    z-index: 2;
  }

  #politica{
    margin-left: 70%;
    margin-top: 20%;
      z-index: 1;
  }

  #estudiante{
    margin-left: -66%;
    margin-top: 26%;
    z-index: 2;
  }

  #perfil{
    margin-top: 1%;
    z-index: 3;
  }

  #programas{
    margin-top: 2%;
    margin-left: 15%;
  }

  #transformacion{
    margin-top: -30%;
  }

  #faro{
    margin-left: 70%;
    margin-top: -21%;
  }

  #fundamentos{
  margin-top: -5%;
  }

  #reglamento{
    margin-left: -63%;
    margin-top: -21%;
  }

  #prescolar{
    margin-top: 25%;
   float: right;
  }

  #primaria{
    margin-top: 35%;
  }

  #secundaria{
    margin-top: 45%;
  }

  .descripciones2{
    margin-top: 9%;
    margin-left: 15%;
  }

  .pie{
  text-align: right;
  }

  .fondo{
    z-index: 0;
  }

  .botones-inferiores{
    padding-top: 7%;
  }

  #textoDescripcion{
    font-size: 1.3vw;
    margin-left: 18%;
    position: absolute;
    margin-top: -62%;
    width: 72%;
  }

#textoDescripcion2{
    font-size: 1.3vw;
    margin-left: 17%;
    position: absolute;
    margin-top: -51%;
    width: 23vw;
}

#textoDescripcion3{
    font-size: 1.3vw;
    margin-left: 17%;
    position: absolute;
    margin-top: -50%;
    width: 24vw;
}

#botones-aula{
  margin-top: 15%;
}


#botones-desarrollo{
  margin-top: 25%;
}

#cursos{
  margin-left: 59%
}

#fondo-desarrollo{
  position: absolute;
  margin-top: -12%;
  margin-left: -30%;
  max-width: 108%;
}

#sitios{
  float: right;
  margin-right: 59%
}

.col-derecha{
  z-index: 100;
}

.derecha{
  float: right;
}
  #salir{
  margin-top: 10%;
  }
  /* Opacity #1 */
  .hover11 figure img {
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .hover11 figure:hover img {
      opacity: .5;
  }


  .hover12 figure:hover img {
              transform:scale(1.2);
              -ms-transform:scale(1.2); /* IE 9 */
              -moz-transform:scale(1.2); /* Firefox */
              -webkit-transform:scale(1.2); /* Safari and Chrome */
              -o-transform:scale(1.2); /* Opera */
          }
